<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905515768658-c18tb5p0clnkvor727h2kir05ut464ik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905515768658-c18tb5p0clnkvor727h2kir05ut464ik</string>
	<key>API_KEY</key>
	<string>AIzaSyDORzPZVSG4cFCCC0dRhUwAMDEwIsJQzrM</string>
	<key>GCM_SENDER_ID</key>
	<string>905515768658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.love</string>
	<key>PROJECT_ID</key>
	<string>authtutorial-1a05a</string>
	<key>STORAGE_BUCKET</key>
	<string>authtutorial-1a05a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905515768658:ios:55144dd04e967aa6f6b88b</string>
</dict>
</plist>